<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->



<link rel="stylesheet" href="css/styles.css" type="text/css" />
<link rel="stylesheet" href="css/more.css" type="text/css" />

<footer class="page-footer">

  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <div class="page-footer__vk"  id="vk_groups"></div>

      </div>

      <div class="col-lg-6">

        <div class="page-footer__contacts">По всем вопросам пишите <a href="">golf@flds.ru</a> и звоните <a href="">+7 (343) 328 92 31</a></div>

        <div class="page-footer__navigation">

          <ul>

            <li>
              <a href="" id="main-link">Главная</a>
            </li>

            <li>
              <a href="" id="about-link">Что такое диск-гольф?</a>
            </li>

            <li>
              <a href="" id="conditions-link">Условия</a>
            </li>

            <li>
              <a href="" id="feedback-link">Отзывы</a>
            </li>

            <li>
              <a href="" id="place-link">Место проведения</a>
            </li>

            <li>
              <a href="" id="partners-link">Партнеры</a>
            </li>

            <li>
              <a href="" class="registration-button">Регистрация</a>
            </li>

          </ul>

        </div>

        <div class="page-footer__copyright">2017 Все права защищены © Федерация Летающих Дисков Свердловской области</div>

      </div>

      <div class="col-lg-3">

        <div class="page-footer__made-by">Сделано в <a  href="http://capybaracraft.ru/?utm_source=disc-golf&utm_medium=footer" target="_blank" class="capybara-logo">Capybara-craft</a></div>

      </div>

    </div>

  </div>


</footer>

<section class="page-popup">

  <div class="popup-bg"></div>

  <div class="popup">

    <div class="cross"></div>

    <h2 class="popup__title">Форма регистрации</h2>

    <form action="" method="POST">

      <div class="popup__input popup__input_text">
        <input type="text" name="name" placeholder="Ваше имя" required="required">
      </div>

      <div class="popup__input popup__input_tel">
        <input type="tel" name="telephone" placeholder="Ваш телефон" required="required">
      </div>

      <div class="popup__input popup__input_email">
        <input type="email" name="email" placeholder="Ваш e-mail" required="required">
      </div>

      <div class="popup__input popup__input_checkbox">
        <input type="checkbox" name="participant" value="can't" id="check">
        <label for="check">Не могу участвовать 22 апреля. Сообщите мне о следующем турнире.</label>
      </div>

      <div class="popup__button">
        <button type="submit" class="button">Зарегистрироваться</button>
      </div>

    </form>

  </div>

</section>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script><![endif]-->

<!— Yandex.Metrika counter —>
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter37317210 = new Ya.Metrika({
id:37317210,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true,
webvisor:true
});
} catch(e) { }
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = "https://mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/37317210" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!— /Yandex.Metrika counter —>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?142"></script>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "200"}, 92922140);
</script>

<script src="js/main.js"></script>

</body>
</html>
