<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->



<link rel="stylesheet" href="css/styles.css" type="text/css" />
<link rel="stylesheet" href="css/more.css" type="text/css" />

<footer class="page-footer">

  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <div class="page-footer__vk"></div>

      </div>

      <div class="col-lg-6">

        <div class="page-footer__contacts">По всем вопросам пишите <a href="">golf@flds.ru</a> и звоните <a href="">+7 (343) 328 92 31</a></div>

        <div class="page-footer__navigation">

          <ul>

            <li>
              <a href="">Главная</a>
            </li>

            <li>
              <a href="">Что такое диск-гольф?</a>
            </li>

            <li>
              <a href="">Условия</a>
            </li>

            <li>
              <a href="">Отзывы</a>
            </li>

            <li>
              <a href="">Место проведения</a>
            </li>

            <li>
              <a href="">Партнеры</a>
            </li>

            <li>
              <a href="">Регистрация</a>
            </li>

          </ul>

        </div>

        <div class="page-footer__copyright">2017 Все права защищены © Федерация Летающих Дисков Свердловской области</div>

      </div>

      <div class="col-lg-3">

        <div class="page-footer__made-by">Сделано в <a href="" class="capybara-logo"></a></div>

      </div>

    </div>

  </div>


</footer>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script><![endif]-->
