<!doctype html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Диск-гольф</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Varvara Bazhukova">
	<meta name="viewport" content="width=1200, initial-scale=1" user-scalable="1">
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	<link rel="stylesheet" href="css/more.css" type="text/css" />
</head>
<body>
<header class="page-header">

</header>
